# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Environments
.env
local.env

# VIM
.vim

# VS code
.vscode

# PyCharm
.idea

# Volumes
data/

# Mac
.DS_Store

# Sqlite
*.sqlite*

# Celery scheduler staff
celerybeat-schedule
